A ZIP 321 URI with filename-unsafe characters (e.g. `+`) is reportedly accepted when it MUST NOT be according to the spec

ZIP 321 says, of the base64url memo field:
> "base64url" is defined as in [4] with padding omitted. (Note that this uses a different alphabet to the usual base64; the values 62 and 63 in the alphabet are encoded as `-` and `_` respectively. Implementations MUST NOT accept the characters `+`, `/`, and `=` that occur only in the usual base64.)
>
> [4] [RFC 4648 section 5: Base64 Encoding with URL and Filename Safe Alphabet](https://www.rfc-editor.org/rfc/rfc4648.html#section-5)

According to https://github.com/Electric-Coin-Company/zashi-android/issues/1678#issuecomment-2477494431 , a URI with a `+` character is rejected on Zashi Android but accepted on Zashi iOS. According to the spec, it MUST be rejected on both. (I'm intentionally using the more value-neutral terms "accepted"/"rejected" rather than "succeeds"/"fails".)

Note that we generally *don't* follow the Postel-era RFC "Be generous in what you accept." dictum when writing or implementing specs —or at least we don't intend to— because it demonstrably results in significant security and interoperability problems over the long term. Here, that practice was intended to prevent exactly what happened with Electric-Coin-Company/zashi-android#1678 : someone testing on Zashi iOS and then getting inconsistent behaviour on Zashi Android. Interoperability problems could also occur because the filename-unsafe characters get mangled by some transmission channels, or because of inconsistent conversion to/from a QR code.

Example of a QR code that is reportedly accepted when it must not be (second image in https://github.com/Electric-Coin-Company/zashi-android/issues/1678#issue-2657985253 ):

![image](https://github.com/user-attachments/assets/40d8afc1-c13d-49e7-ab66-994eb87f54fb)


The problem is as described here: https://github.com/zecdev/zcash-swift-payment-uri/issues/69#issuecomment-2490440246